* @InferenceX/core

# AMD master config
.github/configs/amd-master.yaml @billishyahao @chunfangamd @seungrokj @yctseng0211 @1am9trash
.github/configs/amd-agentic.yaml @billishyahao @chunfangamd @seungrokj @yctseng0211 @1am9trash

# NVIDIA master config
.github/configs/nvidia-master.yaml @ankursingh-nv @kedarpotdar-nv @jgangani
.github/configs/nvidia-agentic.yaml @ankursingh-nv @kedarpotdar-nv @jgangani
