[submodule "experimental/multiturn/vllm_benchmark/aiperf"]
	path = experimental/multiturn/vllm_benchmark/aiperf
	url = https://github.com/cquil11/aiperf.git
[submodule "experimental/multiturn/vllm_benchmark/kv-cache-tester"]
	path = experimental/multiturn/vllm_benchmark/kv-cache-tester
	url = https://github.com/cquil11/kv-cache-tester.git
