[Unit]
Description=InferenceX MI325X Barite runner %i
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/home/ext-cjquilici/gharunners-mi325x-amd

[Service]
User=ext-cjquilici
Group=ext-cjquilici
WorkingDirectory=/home/ext-cjquilici/gharunners-mi325x-amd/gharunner%i/actions-runner
ExecStart=/usr/bin/bash /home/ext-cjquilici/gharunners-mi325x-amd/gharunner%i/actions-runner/bin/runsvc.sh
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=5min
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
